<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    convertErrorsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false">
    <testsuites>
        <testsuite name="Package Test Suite">
            <directory suffix=".php">tests/unit/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <file>src/UgGeogServiceProvider.php</file>
                <file>src/seeds/RegionsTableSeeder.php</file>
                <file>src/migrations/*</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
